* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root {
    --bluedark: #101828;
    --dark: #667085;
    --lightblue: #344054;
}

/* ----------------Common Css------------------- */
.btn {
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    padding: 10px 16px;

}

.btn-primary {
    background: #7F56D9;
    border: 1px solid #7F56D9;
    color: #FFFFFF;
}


.btn-primary:hover {
    background-color: #6949c6;
}

.btn-primary:focus {
    box-shadow: 0px 1px 2px var(--shadow), 0px 0px 0px 4px #f4ebff;
}

.btn-outline {
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    color: var(--lightblue);
}

.btn-outline:hover {
    background-color: #f9fafb;
}

.btn-outline:focus {
    box-shadow: 0px 1px 2px var(--shadow), 0px 0px 0px 4px #f2f4f7;
}



.nostyle-btn {
    background-color: transparent;
    border: none;
}




/*---------- header style------------------- */
.header-content {
    padding: 18px 0px 18px 0px;
    border-bottom: 1px solid #F2F4F7;
    margin-bottom: 32px;
}

.header-section {
    max-height: 44px;
    max-width: 1280px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    padding-left: 16px;
}

.navbar {
    display: flex;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
    align-self: center;
    align-self: center;
    margin-right: 16px;
}

.logo-wrap {
    width: 32px;
    height: 32px;
}

.logo {
    width: 100%;
    height: 100%;
}

.logo-text-wrap {
    width: 100px;
    height: 16px;
}

.logo-text {
    width: 100%;
    height: 100%;
    margin-left: 10px;
}

.hamburger-icon {
    width: 18px;
    height: 12px;
    margin-right: 27px;
}

/* Content  */
.main-container {
    margin: 0px 16px 0px 16px;

}

.heading-section {
    margin-bottom: 16px;
}

.heading {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: var(--bluedark);

}

.sub-heading {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--dark);

}

.cta-button {
    display: flex;
    gap: 12px;
    margin-bottom: 32px;
}

.card-container {
    margin-bottom: 12px;
}

.card {
    background: #FFFFFF;
    border: 1px solid #EAECF0;
    box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 20px 16px;
    margin-bottom: 20px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.card-heading {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #101828;
}



.card-body {
    display: flex;
    align-items: end;
    justify-content: space-between;


}

.number-badge {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.card-text {
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
    color: #101828;
}

.card-message {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #667085;
}

.success {
    color: #027A48;
}

.error {
    color: red;
}

.search-container {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    margin-bottom: 12px;
    padding: 10px 14px;
    gap: 11px;
}

.input {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
    border: none;

}

.full-btn {
    width: 100%;
    justify-content: center;
    margin-bottom: 12px;
}

.filter-group {
    display: flex;
    gap: 12px;
    margin-bottom: 24px;
}

.filter-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    padding: 3px 10px;
    color: #6941C6;
    background: #F9F5FF;
    border-radius: 16px;

}

.table {
    background: #FFFFFF;
    border: 1px solid #EAECF0;
    box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06);
    border-radius: 8px;
    width: 100%;
    border-collapse: collapse;
}

.table-heading {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #667085;

}

tbody>tr:nth-child(2n+1) {
    background: #F9FAFB;
}

.table-titlebox {
    display: flex;
    gap: 12px;
}

.table-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #101828;
}

.company-info {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #667085;

}

.status {
    background-color: red;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #027A48;
    background: #ECFDF3;
    border-radius: 16px;
    padding: 2px 8px;
}


.about-compeny {
    color: #101828;
}

th {
    padding-top: 13px;
    padding-bottom: 13px;
}

tr {
    text-align: center;
}

.al {
    text-align: left;
}

td {
    padding: 12px 20px 12px 24px;
}

tr {
    border-bottom: 1px solid #EAECF0;

}

.checkbox {
    width: 20px;
    height: 20px;
    margin: 0px 17px 0px 29px;


}

.range {
    appearance: none;
    /* background-color: red; */
}

.delete-icon {
    margin-right: 29px;
}

/* For tablet view: */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .login-container {
        align-items: start;
    }

    .heading-section {
        align-items: start;
        justify-content: center;
    }
}

/*------------- for laptop view:--------------- */

@media only screen and (min-width: 1024px) {
    .hamburger-icon {
        display: none;
    }

}